<h1>Multiplication</h1>
<form action="/wizard_multiply">
  <label for="first_number">Multiply this:</label>
  <input id="first_number" name="first_num" type="text" />

  <label for="second_number">by this:</label>
  <input id="second_number" name="second_num" type="text" />

  <button>Multiply!</button>
</form>
